################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ЧетвертаСпроба/.vs/ЧетвертаСпроба/v17
/ЧетвертаСпроба/obj/Debug
